doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Weekend Vibes 
  body 
    p Weekend plan: 
    ul
      li urmeaza continutul
      li paste 
      li Code Run B-day Party 
